div#main{
    width: 1200px;
    /* height: 3000px; */
    margin: 0 auto;
    /* border: 1px #2facb1 solid; */
}

div#crumbs{
    margin-top: 20px;
    margin-bottom: 10px;
    height: 60px;
    width: 100%;
    /* background-color: rgb(235, 33, 33); */
}
div#clsIcon{
    float: left;
    height: 60px;
    width: 60px;
    background-image: url(../imgs/icons/music.png);
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center center;
    /* background-color: rgb(255, 251, 0); */
}
div#clsName{
    float: left;
    line-height: 60px;
    font-size: 36px;
    color: #2facb1;
    width: 80px;
    /* background-color: rgb(0, 247, 255); */
}
div#clsRight{
    float: left;
    margin: 20px 0px 10px;
    height: 30px;
    width: 30px;
    background-image: url(../imgs/icons/right3.png);
    background-size: 100% 100%;
    /* background-color: rgb(234, 0, 255); */
}
div#secCls{
    float: left;
    margin-top: 15px;
    line-height: 40px;
    color: #2facb1;
    width: 80px;
    /* background-color: rgb(6, 255, 48); */
}
















div#infoBox{
    width: 794px;
    float: left;
    padding-bottom: 20px;
    color: #333333;
    border: 3px #2facb1 dashed;
}
div#infoImgBack{
    margin: 50px 0 0 60px;
    float: left;
    width: 300px;
    height: 300px;
    background-color: #2facb1;
}
div#infoImg{
    position: relative;
    right: 10px;
    bottom: 10px;
    width: 100%;
    height: 100%;
    background-image: url(../imgs/music/music1.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-shadow: 3px 3px 5px #666666b4;
}
div#infoName{
    text-align: left;
    margin: 50px 0 0 20px;
    float: left;
    width: 400px;
    height: 70px;
    line-height: 35px;
    font-size: 28px;
    /* background-color: #2facb1; */
}
div#timeIcon{
    float: left;
    margin: 50px 0 0 30px;
    width: 30px;
    height: 30px;
    background-image: url(../imgs/icons/right3.png);
    background-size: 90% 90%;
    background-repeat: no-repeat;
}
div#locationIcon{
    float: left;
    margin: 30px 0 0 30px;
    width: 30px;
    height: 30px;
    background-image: url(../imgs/icons/right3.png);
    background-size: 90% 90%;
    background-repeat: no-repeat;
}
div#feeIcon{
    float: left;
    margin: 30px 0 0 30px;
    width: 30px;
    height: 30px;
    background-image: url(../imgs/icons/right3.png);
    background-size: 90% 90%;
    background-repeat: no-repeat;
}
div#infoTime{
    text-align: left;
    margin: 50px 0 0 10px;
    float: left;
    width: 340px;
    height: 70px;
    height: 30px;
    line-height: 22px;
    font-size: 18px;
    /* background-color: #2facb1; */
}
div#infoLocation{
    text-align: left;
    margin: 30px 0 0 10px;
    float: left;
    width: 340px;
    height: 30px;
    line-height: 22px;
    font-size: 18px;
    /* background-color: #2facb1; */
}
div#infoFee{
    text-align: left;
    margin: 30px 0 0 10px;
    float: left;
    width: 340px;
    height: 30px;
    line-height: 22px;
    font-size: 18px;
    /* background-color: #2facb1; */
}
div#infoLike{
    clear:left;
    float: left;
    margin: 30px 60px 0 110px;
    width: 40px;
    height: 40px;
    background-image: url(../imgs/icons/heart1.png);
    background-size: 90% 90%;
    background-repeat: no-repeat;
}
div#infoSch{
    float: left;
    margin: 30px 50px 0 60px;
    width: 40px;
    height: 40px;
    background-image: url(../imgs/icons/schedule1.png);
    background-size: 90% 90%;
    background-repeat: no-repeat;
}
div#payWay{
    text-align: right;
    margin: 40px 0 0 10px;
    float: left;
    width: 400px;
    height: 30px;
    letter-spacing: 0.3em;
    color: #2facb1;
    line-height: 22px;
    font-size: 18px;
}
div#payWay:hover{
    text-decoration: underline;
}
















div#rec{
    width: 344px;
    margin-left: 50px;
    float: left;
    height: 440px;
    border: 3px #2facb1 dashed;
}


























div#introduce{
    float: left;
    text-align: left;
    padding: 50px;
    width: 700px;
    height: 800px;
    margin-top: 30px;
    /* background-color: #fff; */
}
























div#cutLine{
    float: left;
    margin: 0 23px;
    width: 4px;
    height: 500px;
    margin-top: 30px;background: -webkit-linear-gradient(#ffffff00 0%,#2facb1ff 40%,#2facb1ff 60%,#ffffff00 100%);
    background: -moz-linear-gradient(#ffffff00 0%,#2facb1ff 40%,#2facb1ff 60%,#ffffff00 100%);
    background: -o-linear-gradient(#ffffff00 0%,#2facb1ff 40%,#2facb1ff 60%,#ffffff00 100%);
    background: linear-gradient(#ffffff00 0%,#2facb1ff 40%,#2facb1ff 60%,#ffffff00 100%);
    
}
div#team{
    float: left;
    width: 350px;
    height: 800px;
    margin-top: 30px;
    background-color: rgb(214, 214, 214);
}

p{
    font-size: 18px;
    text-indent:35px;
}