div#photo{
    width: 1140px;
    height: 530px;
    margin: 0 auto;
    padding: 30px 30px 0;
    /* border: 1px #2facb1 solid; */
}
div#info{
    float: left;
    height:350px;
    width: 270px;
    margin: 80px 20px;
    border-radius: 10px;
    border-top: 3px #2facb1 solid;
    border-bottom: 3px #2facb1 solid;
}
div#photoBox{
    float: left;
    height:500px;
    width: 800px;
    margin: 10px 0 0 20px;
    border: 3px #2facb1 solid;
    border-radius: 10px;
}
div.photoInner{
    position: relative;
    top: 0;
    left: 0;
    height:500px;
    width: 800px;
    background-image: url(../imgs/personal/photo1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 864px 648px;
    border-radius: 7px;
    cursor: pointer;
}
div#showingImg{
    position: fixed;
    z-index: 20;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.534);
    background-size: 1037px 778px;
    border-radius: 0;
}


div#photoMask{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.404);
    background-image: url(../imgs/class/slogan.png);
    background-repeat: no-repeat;
    background-size: 500px 156.25px;
    background-position: center center;
    border-radius: 7px;
    opacity: 1;
    transition: all 0.4s;
}
div#photoMask:hover{
    background-position: center 100%;
    /* background-size: 400px 125px; */
    opacity: 0;
}
div#infoImg{
    width: 100px;
    height: 100px;
    margin: 30px auto 10px;
    border-radius: 300px;
    background-image: url(../imgs/photo.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
div#infoName{
    font-size: 22px;
    font-weight: 600;
    color: #2facb1;
}
div#infoSex{
    float: left;
    width: 25px;
    height: 25px;
    margin: 10px 20px 10px 90px;
    background-repeat: no-repeat;
    background-image: url(../imgs/icons/female.png);
    background-size: 100%;
}
div#infoXz{
    float: left;
    width: 25px;
    height: 25px;
    margin: 10px 90px 10px 20px;
    background-repeat: no-repeat;
    background-image: url(../imgs/icons/by.png);
    background-size: 100%;
}
div#from{
    clear: both;
    font-weight: 800;
    /* font-family: ubuntu; */
    margin: 0 auto;
    padding: 10px 0 10px;;
}
div#infoSchool{
    font-size: 16px;
    line-height: 24px;
}