div.clsZone{
    width: 100%;
    line-height: 600px;
    margin: 50px 0;
    padding: 0;
    border: 1px #289a9e solid;
    color: #45adb1ce;
    font-size: 50px;
    border-radius: 10px;
}
div#rec{
    margin-top: 15px;
}