div.clsZone{
    /* overflow: hidden; */
    position: relative;
    float: left;
    width: 850px;
    height: 500px;
    margin: 10px 0 50px 0;
    padding: 0;
    /* border: 1px #289a9e solid; */
    color: #45adb11e;
    font-size: 30px;
    border-radius: 10px;
}
div.czTop{
    /* position: absolute;
    top: 0px;
    left: 0px; */
    width: 840px;
    height: 80px;
    /* border: 1px #289a9e solid; */
    color: #45adb1ce;
    border-radius: 10px;
}
div.czLine{
    /* position: absolute;
    top: 80px;
    left: 0px; */
    width: 840px;
    height: 4px;
    /* border: 1px #289a9e solid; */
    /* background-color: #45adb148; */
    background: -webkit-linear-gradient(90deg,#ffffff00 0%,#2facb1 5%,#2facb1 95%,#ffffff00 100%);
    background: -moz-linear-gradient(90deg,#ffffff00 0%,#2facb1 5%,#2facb1 95%,#ffffff00 100%);
    background: -o-linear-gradient(90deg,#ffffff00 0%,#2facb1 5%,#2facb1 95%,#ffffff00 100%);
    background: linear-gradient(90deg,#ffffff00 0%,#2facb1 10%,#2facb1 40%,#ffffff00 100%);
    border-radius: 3px;
}
div.czInner{
    /* position: absolute;
    top: 84px;
    left: 0px; */
    width: 840px;
    height: 416px;
    /* border: 1px #289a9e solid; */
    color: #45adb1ce;
    border-radius: 10px;
}
div.czBig{
    /* position: absolute;
    top: 16px;
    left: 0px; */
    float: left;
    margin: 16px 0 0;
    width: 400px;
    height: 400px;
    /* border: 1px #289a9e solid; */
    /* background-color: #289a9e; */
    /* color: #45adb1ce; */
    background-size: 100%;
    border-radius: 8px;
    box-shadow: 1px 1px 5px #3f3f3f7a;
    cursor: pointer;
    transition: all 0.4s;
}
div.czBig:hover{
    transform: scale(1.03);
    -moz-transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -o-transform: scale(1.03);
    -ms-transform: scale(1.03);
}
div.czSmall{
    /* position: absolute;
    top: 16px;
    left: 440px; */
    float: left;
    margin: 16px 0 0 40px;
    width: 400px;
    height: 400px;
    /* border: 1px #289a9e solid; */
    /* color: #45adb1ce; */
    border-radius: 10px;
}
div.czSmall div{
    /* position: absolute; */
    position: relative;
    width: 190px;
    height: 190px;
    /* border: 1px #289a9e solid; */
    /* color: #45adb1ce; */
    /* background-color: #289a9e; */
    background-size: 100%;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #3f3f3f7a;
    /* background-attachment: fixed; */
    background-position: center center;
    cursor: pointer;
    transition: all 0.8s;
    transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out; /* Firefox 4 */
    -webkit-transition-timing-function: ease-out; /* Safari 和 Chrome */
    -o-transition-timing-function: ease-out; /* Opera */
}

div.czSmall div:hover{
    background-size: 150%;
    transition: all 15s;
}
div.czSmall1{
    float: left;
    margin: 0 10px 10px 0;
}
div.czSmall2{
    float: left;
    margin: 0 0 10px 10px;
}
div.czSmall3{
    float: left;
    margin: 10px 10px 0 0;
}
div.czSmall4{
    float: left;
    margin: 10px 0 0 10px;
}
ul.clsify{
    height: 80px;
    width: 840px;
    /* background-color: #fff; */
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}
li.clsHead{
    position: relative;
    padding: 10px;
    margin: 0;
    width: 160px;
    height: 60px;
    float: left;
    position: relative;
    display: block;
    cursor: pointer;
    /* background-color: rgb(255, 90, 90); */
}
ul.clsify li+li{
    margin: 35px 10px 0 0px;
    padding: 0;
    float: left;
    display: block;
}
ul.clsify li.clsMore{
    float: right;
    /* font-size: 20px; */
}
ul.clsify li:first-of-type{
    width: 195px;
}
ul.clsify li+li a{
    color: #3f3f3f;
    display: block;
    font-size: 16px;
    width: 70px;
    line-height: 30px;
    /* background-color: rgb(255, 90, 90); */
    cursor: pointer;
    transition: all 0.3s;
}
ul.clsify li+li a:hover{
    color: #2facb1;
}
ul.clsify li.clsMore a{
    font-size: 16px;
    color: #2facb1;
}
ul.clsify li.clsMore a:hover{
    text-decoration: underline;
}
div.clsLogo{
    /* position: absolute; */
    float: left;
    margin: 12px 0 0 10px;
    /* top: 32px;
    left:10px; */
    width: 45px;
    height: 45px;
    background-size: 100%;
}
div.clsName{
    /* position: absolute;
    top: 15px;
    left:55px; */
    float: left;
    margin: 7px 0 0 5px;
    font-size: 40px;
    width: 100px;
    line-height: 60px;
    color: #3f3f3f;
    transition: all 0.4s;
    cursor: pointer;
}
div.clsName:hover{
    color: #2facb1;
}
div.right{
    /* position: absolute;
    top: 35px;
    left:150px; */
    float: left;
    margin: 25px 0 0 5px;
    width: 30px;
    height: 30px;
    background-size: 100%;
}




/* +++++++++++++++rec+++++++++++++ */
div#rec{
    position: relative;
    width: 100%;
    height: 480px;
    margin: 0 0 30px 0;
    padding: 0;
    /* border: 1px #289a9e solid; */
    color: #2facb1;
    font-size: 300px;
    border-radius: 10px;
}
div#recTitle{
    position: relative;
    top: 20px;
    height: 60px;
    width: 300px;
    padding: 0;
    margin: 0 auto;
    /* border: 1px #289a9e solid; */
}
div#recTitle img#lHot{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
}
div#recTitle img#rHot{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
}
div#recTitle div{
    line-height: 60px;
    width: 200px;
    padding: 0;
    margin: 0 auto;
    font-size: 30px;
    font-weight: 800;
    color: #333333;
    /* border: 1px #289a9e solid; */
}
div#recInner{
    position: absolute;
    top: 80px;
    width: 100%;
    height: 400px;
    /* border: 1px #289a9e solid; */
}
div#recLeft,div#recRight{
    position: absolute;
    top: 160px;
    width: 60px;
    height: 60px;
    background-size: 80%;
    border-radius: 60px;
    background-repeat: no-repeat;
    transition: all 0.2s;
}
div#recLeft{
    left: 20px;
    background-image: url(../imgs/icons/left5.png);
    background-position: 2px 6px;
}
div#recLeft:hover{
    background-color: rgba(201, 201, 201, 0.3);
    /* background-image: url(../imgs/icons/left3.png); */
}
div#recRight{
    right:20px;
    background-image: url(../imgs/icons/right3.png);
    background-position: 9px 6px;
}
div#recRight:hover{
    background-color: rgba(201, 201, 201, 0.3);
    /* background-image: url(../imgs/icons/right3.png); */
}
div#recItems{
    position: relative;
    width: 1000px;
    height: 400px;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
    /* border: 1px #289a9e solid; */
}
div#riInner{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 400px;
    /* background-color: rgb(255, 188, 188); */
    transition: all 0.6s;
}
/* div#riInner:hover{
    left: -1000px;
} */
div.ri{
    display: block;
    float: left;
    width: 218px;
    height: 370px;
    padding: 0;
    margin: 15px 16px 0 16px;/* 整个宽需要时1000/4=250 */
    /* background-color: rgb(240, 191, 255); */
}
div.riImg{
    width: 210px;
    height: 300px;
    padding: 0;
    margin: 2px;
    border-radius: 5px;
    border: 2px #2facb1 solid;
    background-image: url(../imgs/rec/rec1.jpg);
    cursor: pointer;
    box-shadow: 0 1px 2px #818181a2;
    transition: all 0.3s;
    /* background-color: rgb(255, 191, 191); */
}
div.riImg:hover{
    box-shadow: 0 5px 10px #818181a2;
    margin: -8px 2px 12px 2px;
    transform: scale(1.01);
    -moz-transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -o-transform: scale(1.01);
    -ms-transform: scale(1.01);
}
div.riInfo{
    width: 190px;
    height: 50px;
    padding: 5px 10px;
    margin: 0;
    /* background-color: rgba(167, 167, 167, 0.507); */
    color: #3f3f3f;
    font-size: 16px;
    cursor: pointer;
}
div.riInfo:hover{
    color: #2facb1;
    text-decoration: underline;
}

div.bigMask{
    overflow: hidden;
    margin: 70% 0 0 0;
    padding: 3% 10% 0 10%;
    height: 27%;
    width: 80%;
    line-height: 30px;
    font-size: 20px;
    text-align: right;
    color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #2e2e2e91;
    transition: all 0.4s;
}
div.czBig:hover div.bigMask{
    /* opacity: 0; */
    margin: 100% 0 0 0;
    padding: 0% 10% 0 10%;
    height: 0%;
}
div.czSmall div.smallMask{
    display: block;
    width: 90%;
    margin: 66% 0 0 0;
    height: 30%;
    line-height: 24px;
    padding: 4% 5% 0 5%;
    color: white;
    font-size: 16px;
    background-color: #2b2b2ba8;
    opacity: 1;
    transition: all 0.3s;
    border-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
div.czSmall div:hover div.smallMask{
    opacity: 0;
    transition: all 0.3s;
    height: 0%;
    padding: 0% 5% 0 5%;
    margin: 100% 0 0 0;
    font-size: 16px;
    /* display: none; */
}