/* ++++++++++++++++++++++++++++++ */
/* ++++++++++++++top+++++++++++++ */
/* ++++++++++++++++++++++++++++++ */
/* 顶部全站导航 */
div#top{
    z-index: 3;
    position: fixed;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 50px;
    /* position: fixed;
    top: 0; */
    background-color:#ffffffbb;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    transition: all 0.6s;
    /* background: -webkit-linear-gradient(#ffffffff 0%,#ffffff00 100%);
    background: -moz-linear-gradient(#ffffffff 0%,#ffffff00 100%);
    background: -o-linear-gradient(#ffffffff 0%,#ffffff00 100%);
    background: linear-gradient(#ffffffff 0%,#ffffff00 100%);  */
}
div#topInner{
    position: relative;
    width: 1200px;
    height: 50px;
    padding: 0;
    margin: 0 auto;
}
ul.nav{
    margin: 0px auto 0px;
    padding: 0px;
    width: 1200px;
    height: 50px;
    list-style: none;
    overflow: hidden;
    /* position: fixed;
    top: 0; */
}
ul.nav li.topBtn{
    padding: 0;
    float: right;
}
#topLogoLi{
    float: left;
    padding: 0;
    margin: 0;
}
#topLogo{
    height: 36px;
    width: 135px;
    padding: 7px 10px;
}
#topLogoLi:hover{
    transform: rotate(358deg);
}
ul.nav li.topBtn a {
    width: 70px;
    display: block;
    color: #289a9e;
    line-height: 50px;
    font-size: 16px;
    letter-spacing: 0.2em;
    padding: 0px;
    text-decoration: none;
    transition: all 0.8s;
}
img#photo{
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 5px;
}
ul.nav li.topBtn a:hover{
    color:white;
    font-weight: 900;
    background-color: #45adb1b9;
}
li.search{
    float: right;
    margin: 0 50px 0 0;
}
li.search input{
    width: 250px;
    padding: 8px 0px 8px 18px;
    margin: 6px 0px;
    outline: 0 none;
    color: black;
    font-size: 16px;
    line-height: 20px;
    background: rgba(255,255,255,0.9);
    border: 0 none;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    transition: all 0.6s;
}
li.search button{
    position: relative;
    right: 6px;
    width: 80px;
    height: 36px;
    line-height: 20px;
    padding: 0;
    color: #fff;
    font-weight: 800;
    background: #45aeb1;
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.5em;
    outline: 0;
    cursor: pointer;
    border: 0 none;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}
li.search button:hover{
    background: #289a9e;
}
li.search button:active{
    background: #067579;
}
div.topList{
    display: none;
    opacity: 0;
    z-index: 5;
    position: absolute;
    top: 65px;
    background-color: rgb(250, 250, 250);
    border: 2px #b9e1e2 solid;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    transition: all 0.5s;/* 记得修改top.js topDisappear的时间 */

}
div#homeList{
    right: 25px;
}
div#socialList{
    right:30px;
}
div#personalList{
    right:-45px;
}
div.topList ul{
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    border-radius: 3px;
}
div.topList ul li{
    display: block;
    margin: 0;
    padding: 0;
    border-radius: 3px;
}
div.topList ul li a{
    color: #4e4e4e;
    display: block;
    line-height: 40px;
    font-size: 14px;
    width: 150px;
    margin: 0;
    padding: 0;
    border-radius: 3px;
    transition: all 0.3s;
}
div#homeList ul li a{
    position: relative;
    line-height: 80px;
    width: 300px;
}
div.topList ul li a:hover{
    background-color: #2222220e;
    color: #289a9e;
}
a#userName{
    color: #289a9e;
    font-size: 16px;
    font-weight: 800;
    font-family: Monospace;
}
a#exit{
    font-size: 10px;
    color: #4e4e4e77;
}
a#exit:hover{
    font-size: 10px;
    color: #ff4040a6;
}
div#homeList ul li a#seeMore{
    margin: 8px 20px;
    width: 260px;
    line-height: 30px;
    font-size: 12px;
    color: #ffffff;
    font-weight: 600;
    background-color: #289a9e93;
    border-radius: 6px;
}
div#homeList ul li a#seeMore:hover{
    background-color: #289a9ed2;
}